body
{   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 90%;
    display: flex;
}
#photo{
    width:180px;
    height:180px;
    background-image: url('Images/Photocv.jpg');
    background-color: #ffff;
    border: 4px #BDBDBD solid;
    border-radius: 100px;
    position:absolute;
    margin-top: 80px;
    margin-left: 30px;
}
aside{
    width: 20%;
    background-color:#29B6F6;
    overflow: hidden;

}
aside h2{
    margin-top: 350px;
    text-align: center;
    background-color: #37474F;
    color: #29B6F6;
}
aside p{
    width: 80%;
    margin-left: 20px;
}

.fa-paint-brush, .fa-book-reader, .fa-running { 
        color:#37474F;
        font-size:3rem;
        border:3px #37474F solid;
        border-radius: 100px;
        margin-left: 5px;
       
}
section{
    width: 80%;
}
section h2{
    margin-left: 50px;
}
section article{
    margin-left: 50px;
    border-top: 3px #29B6F6 solid;
    margin-bottom: 100px;
}
.prenom{
     color: #29B6F6;
}

header{
    margin-bottom: 100px;
}
h1 {
    margin-left: 50px;
    font-size: 50px;
  
}
header h2{
    font-size: 30px;
}
.fa-graduation-cap , .fa-briefcase , .fa-pencil-alt {
    margin-right: 20px;
    color:#29B6F6;
    font-size: 2rem;
}

span{
	color:black;
    font-size: 25px;
    font-weight: bold;
}

table{
    width: 100%;
}
td{
    width: 50%;
    height: 50px;
}
li{
    list-style-type: disc;
    font-size: 2rem;
    color: #29B6F6;
}